/kernel-deps
/limine
/ovmf
*.iso
*.hdd
qemu.log
toolchain/local/
toolchain/build/
toolchain/src/
programs/bin/
programs/obj/
programs/src/*/obj/
programs/lib/libc/liblibc.a
programs/gui/icons/
CLAUDE.md